<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Southern.Presentacion.My.MySettings.SouthernBDConnectionString"
            connectionString="Data Source=DESKTOP-7JTPEF4\MSSQLSERVER1;Initial Catalog=SouthernBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioPersonaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49937/ServicioPersona.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPersonaSoap"
                contract="ServiceReference1.IServicioPersonaSoap" name="BasicHttpBinding_IServicioPersonaSoap" />
        </client>
    </system.serviceModel>
</configuration>